.swiper-button-prev,
.swiper-button-next {
  color: #111;
  width: 32px;
  height: 32px;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #111;
  opacity: 0.2;
  border-radius: 50%;
  z-index: 999;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  max-width: 90%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: contain;
}
