.layout {
  display: flex;
  min-height: 80vh;
  width: min(80%, 1100px);
  margin: 5% auto;
  gap: 24px;
}

.layout__aside {
  position: relative;
  height: auto;
  flex-shrink: 0;
  padding: 16px 32px;

  background-color: aquamarine;
}

.layout__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.layout__main {
  flex: 1;
  padding: 16px 32px 32px;
  overflow: visible;

  background-color: rgba(237, 159, 211, 0.546);
}

.layout__footer {
  padding: 1rem max(1rem, 5vw) 1rem;
  font-size: 11px;
  color: #111;

  background-color: rgba(0, 0, 255, 0.466);
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
    width: 100%;
    margin: 16px auto 0 auto;
    padding: 24px 0;
    gap: 16px;
  }

  .layout__aside {
    position: relative;
    top: auto;
    height: auto;
    z-index: auto;
    border-bottom: none;
    padding: 16px;
  }

  .layout__main {
    padding: 16px 16px 16px;
    display: flex;
    justify-content: center;
  }

  .mainInner {
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .layout__aside {
    padding: 10px 0;
  }
  .layout__main {
    padding: 12px 16px;
  }
}
